.popover {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notifications-number {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.no-notifications-text {
    height: 100px;
    line-height: 85px;
}

.no-notifications {
    padding: 10px;
    text-align: center;
    color: #888;
    margin: auto;
}

.see-all-link {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #eee;
    text-align: center;
}

/* Dark Mode */
.popover.dark-mode {
    background-color: #323131;
    color: #f1f1f1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}

.dark-mode .no-notifications {
    color: #bdb9b9;
}

.dark-mode .see-all-link a {
    color: #f1f1f1;
}