/* Table Styling */
.examResultDetails_table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.examResultDetails_th,
.examResultDetails_td {
    padding: 12px;
    border: 1px solid #ddd;
}

.examResultDetails_th {
    background-color: #f2f2f2;
}

.examResultDetails_tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Light Mode Styles */
.ViewStudentExam_container.light {
    background-color: #f7f7f7;
    color: #333;
}

.examResultDetails_th.light {
    background-color: #eeeeee;
    color: #333;
}

.examResultDetails_td.light {
    background-color: #f7f7f7;
    color: #333;
}

.examResultDetails_tr.light:nth-child(even) {
    background-color: #f9f9f9;
}

/* Dark Mode Styles */
.ViewStudentExam_container.dark {
    background-color: #1a1a1a;
    color: #f5f5f5;
}

.examResultDetails_th.dark {
    background-color: #444;
    color: #f5f5f5;
}

.examResultDetails_td.dark {
    background-color: #555;
    color: #f5f5f5;
}

.examResultDetails_tr.dark:nth-child(even) {
    background-color: #666;
}

/* Button Styling */
.examResultDetails_submit-edit-button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    font-size: 14px;
    margin: 5px;
    border-radius: 5px;
}

.examResultDetails_submit-edit-button:hover {
    background-color: darkgreen;
}

/* No data message */
.no-data-message {
    font-size: 18px;
    color: #888;
    text-align: center;
    margin-top: 20px;
}



.examResultDetails_td input[type='number'] {
    width: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.examResultDetails_td.dark input[type='number'] {
    background-color: #444;
    color: #f7f7f7;
}

#examResultDetails_gray-button {
    background-color: #007bff;
}

#examResultDetails_gray-button:hover {
    background-color: #0056b3;
}

/* back button color */
#examResultDetails_gray-button .dark {
    background-color: #6c757d;
}

#examResultDetails_gray-button:hover .dark {
    background-color: #5a6268;
}

/* edit button color */
#examResultDetails_orange-button {
    background-color: darkorange;
}

#examResultDetails_orange-button:hover {
    background-color: #CC5500;
}

/* cancel button color */
#examResultDetails_red-button {
    background-color: #D32F2F;
}

#examResultDetails_red-button:hover {
    background-color: darkred;
}