.examResults_ExamResult {
  min-height: 100vh;
  text-align: center;
  padding: 10px;
  background: #f8f8f8;

}

/* Titles */
.examResults_h1, .examResults_h2 {
  color: #333;
  font-weight: 600;
  font-weight: bolder;
}

/* Select Components */
.examResults_select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Table Styles */
.examResults_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.examResults_th, .examResults_td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.examResults_th {
  background-color: #007bff;
  color: white;
}

.examResults_tr:nth-child(even) {
  background-color: #f8f8f8;
}

.examResults_tr:hover {
  background-color: #ddd;
}

/* No Results Message */
.examResults_noResults {
  color: #999;
  margin-top: 20px;
}

/* Container for the selectors */
.examResults_selectContainer {
  margin-bottom: 20px;
  background-color: #f8f8f8;
}

.examResults_light-mode{
  background-color: #f8f8f8;
}

/* Dark Mode Styles */
.examResults_dark-mode .examResults_ExamResult {
  background: #333;
  color: #f1f1f1;
}

.examResults_dark-mode .examResults_h1,
.examResults_dark-mode .examResults_h2,
.examResults_dark-mode .examResults_h3 {
  color: #f1f1f1;
}

.examResults_dark-mode .examResults_select {
  background-color: #444;
  color: #f1f1f1;
  border: 1px solid #555;
}

.examResults_dark-mode .examResults_table {
  background: #333;
  color: #f1f1f1;
}

.examResults_dark-mode .examResults_th {
  background-color: #0056b3;
}

.examResults_dark-mode .examResults_tr:nth-child(even) {
  background-color: #555;
}

.examResults_dark-mode .examResults_tr:hover {
  background-color: #666;
}

.examResults_dark-mode .examResults_noResults {
  color: #bbb;
}

.examResults_dark-mode .examResults_selectContainer {
  background-color: #1a1a1a;
}

.examResults_dark-mode select{
  background-color: #444;
  color: #f1f1f1;
}