/* MakeExam container */
body {
  background-color: #f7f7f7;
}
body .MakeExam_dark {
  background-color: #161616;
  color: #eee;
}
.MakeExam_examPage {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 35%;
  background: #f8f8f8;
  padding-block: 2rem;
}
.MakeExam_examPage.MakeExam_dark {
  background: #161616;
  color: #eeeeee;
}

.MakeExam_dark input[type="text"], .MakeExam_dark input[type="number"], .MakeExam_dark select, .MakeExam_dark .MakeExam_selectField, .MakeExam_dark .MakeExam_correctAnswerSelect, .MakeExam_dark .MakeExam_datePicker {
  background: #1c1c1c;
  color: white;

}

.MakeExam_examContainer {
  text-align: start;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

/* Heading */
.MakeExam_examHeading {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.MakeExam_dark .MakeExam_examHeading {
  color: #eeeeee;
}

/* Input wrapper */
.MakeExam_inputWrapper {
  margin-bottom: 10px;
}

/* Input label */
.MakeExam_inputLabel {
  font-weight: bold;
}

.MakeExam_dark .MakeExam_inputLabel {
  color: #eeeeee;
}

/* Select wrapper */
.MakeExam_selectWrapper {
  margin-bottom: 10px;
}

/* Select label */
.MakeExam_selectLabel {
  font-weight: bold;
}

.MakeExam_dark .MakeExam_selectLabel {
  color: #eeeeee;
}

.MakeExam_inputRow {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Input wrapper to take up equal space */
.MakeExam_inputWrapper {
  flex: 1;
}

/* Select field */
.MakeExam_selectField, .MakeExam_inputField ,.MakeExam_correctAnswerSelect, .MakeExam_inputWrapper input[type="text"], .MakeExam_inputWrapper input[type="number"], select, .MakeExam_datePicker {
  width: 100%;
  font-size: 16px;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.MakeExam_customDatePickerWidth {
  width: 370px !important;
}

.MakeExam_selectField:focus, .MakeExam_correctAnswerSelect:focus, select:focus, input[type="text"]:focus, input[type="number"]:focus, .MakeExam_datePicker:focus {
  border: 1px solid #007bff !important;
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

input[type="number"]:focus {
  border: 1px solid #007bff !important;
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.MakeExam_inputWrapper .MakeExam_inputLabel {
  display: block;
  margin-bottom: 5px;
}

/* Options section */
.MakeExam_optionsSection {
  margin-bottom: 20px;
}

/* Option item */
.MakeExam_optionItem {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

/* Option label */
.MakeExam_optionLabel {
  font-weight: bold;
  margin: 5px;
}

/* Option input */
.MakeExam_optionInput {
  flex-grow: 1;
  padding: 8px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Delete button */
.MakeExam_deleteButton {
  margin: 0 10px;
  background-color: #ff5757;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
}

.MakeExam_deleteButton:hover {
  background-color: #ff0000;
}

/* Correct answer section */
.MakeExam_correctAnswerSection {
  margin-bottom: 20px;
}

/* Correct answer label */
.MakeExam_correctAnswerLabel {
  font-weight: bold;
}

.MakeExam_dark .MakeExam_correctAnswerLabel {
  color: #eeeeee;
}

/* Correct answer select */
.MakeExam_correctAnswerSelect {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Add question button */
.MakeExam_addQuestionButton, .MakeExam_submitExamButton, .MakeExam_addOptionButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.MakeExam_addQuestionButton:hover {
  background-color: #0353a9;
}

/* Added questions heading */
.MakeExam_addedQuestionsHeading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.MakeExam_dark .MakeExam_addedQuestionsHeading {
  color: #eeeeee;
}

/* Added questions list */
.MakeExam_addedQuestionsList {
  list-style: none;
}

.MakeExam_questionItem .MakeExam_question {
  font-size: 1.3rem;
  font-weight: 600;
}

/* Question item */
.MakeExam_questionItem {
  margin-top: 10px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

/* Options heading */
.MakeExam_optionsHeading {
  font-weight: bold;
}

/* Options list */
.MakeExam_optionsList {
  list-style-type: none;
  padding-left: 0;
}

/* Correct answer heading */
.MakeExam_correctAnswerHeading {
  font-weight: bold;
}

/* Delete question button */
.MakeExam_deleteQuestionButton {
  margin: 0;
  background-color: #ff5757;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.MakeExam_deleteQuestionButton:hover {
  background-color: #ff0000;
}

/* Horizontal line */
.MakeExam_horizontalLine {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Light mode styles */
.MakeExam_examContainer.MakeExam_light {
  background-color: #f7f7f7; /* Light mode background color */
  color: #333; /* Light mode text color */
}

/* Dark mode styles */
.MakeExam_examContainer.MakeExam_dark {
  background-color: #333; /* Dark mode background color */
  color: #eee; /* Dark mode text color */
}