/* MakeExam container */
.examPage {
  flex: 1;
  display: flex;
  align-items: center;
  background: #f8f8f8;
  padding-block: 2rem;
}
.examPage.dark {
  background: #161616;
  color: #eeeeee;
}

.dark input[type="text"], .dark input[type="number"], .dark select, .dark .selectField, .dark .correctAnswerSelect, .dark .datePicker {
  background: #1c1c1c;
  color: white;
}

.examContainer {
    text-align: start;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
  }
  
  /* Heading */
  .examHeading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .dark .examHeading {
    color: #eeeeee;
  }
  
  /* Input wrapper */
  .inputWrapper {
    margin-bottom: 10px;
  }
  
  /* Input label */
  .inputLabel {
    font-weight: bold;
  }

  .dark .inputLabel {
    color: #eeeeee;
  }
  
  /* Input field */
  /*.inputField {*/
  /*  width: 100%;*/
  /*  padding: 8px;*/
  /*  margin-top: 5px;*/
  /*  border: 1px solid #ccc;*/
  /*  border-radius: 5px;*/
  /*}*/
  
  /* Select wrapper */
  .selectWrapper {
    margin-bottom: 10px;
  }
  
  /* Select label */
  .selectLabel {
    font-weight: bold;
  }

  .dark .selectLabel {
    color: #eeeeee;
  }

.inputRow {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Input wrapper to take up equal space */
.inputWrapper {
  flex: 1;
}

  /* Select field */
  .selectField, .correctAnswerSelect, input[type="text"], input[type="number"], select, .datePicker{
    width: 100%;
    font-size: 0.9rem;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.customDatePickerWidth {
  width: 370px !important;
}

  .selectField:focus, .correctAnswerSelect:focus, select:focus, input[type="text"]:focus, input[type="number"]:focus, .datePicker:focus{
    border: 1px solid #007bff !important;
    outline: none;
    box-shadow: 0 0 5px #007bff;
  }

input[type="number"]:focus {
  border: 1px solid #007bff !important;
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.inputWrapper .inputLabel {
  display: block;
  margin-bottom: 5px;
}

  /* Options section */
  .optionsSection {
    margin-bottom: 20px;
  }
  
  /* Options label */
  .optionsLabel {
    font-weight: bold;
  }
  
  /* Option item */
  .optionItem {
    margin-top: 5px;
    display: flex;
    align-items: center;
  }
  
  /* Option label */
  .optionLabel {
    font-weight: bold;
    margin-right: 5px;
  }
  
  /* Option input */
  .optionInput {
    flex-grow: 1;
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Delete button */
  .deleteButton {
    margin: 0 0 0 5px;
    background-color: #ff5757;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    background-color: #ff0000;
  }
  
  /* Correct answer section */
  .correctAnswerSection {
    margin-bottom: 20px;
  }
  
  /* Correct answer label */
  .correctAnswerLabel {
    font-weight: bold;
  }

  .dark .correctAnswerLabel {
    color: #eeeeee;
  }
  
  /* Correct answer select */
  .correctAnswerSelect {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Add question button */
  .addQuestionButton, .submitExamButton, .addOptionButton{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .addQuestionButton:hover {
    background-color: #0353a9;
  }
  
  /* Added questions heading */
  .addedQuestionsHeading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .dark .addedQuestionsHeading {
    color: #eeeeee;
  }
  
  /* Added questions list */
  .addedQuestionsList {
    list-style: none;
  }

  .questionItem .question {
    font-size: 1.3rem;
    font-weight: 600;
  }
  
  /* Question item */
  .questionItem {
    margin-top: 10px;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  
  /* Options heading */
  .optionsHeading {
    font-weight: bold;
  }
  
  /* Options list */
  .optionsList {
    list-style-type: none;
    padding-left: 0;
  }
  
  /* Correct answer heading */
  .correctAnswerHeading {
    font-weight: bold;
  }
  
  /* Delete question button */
  .deleteQuestionButton {
    margin: 0;
    background-color: #ff5757;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .deleteQuestionButton:hover {
    background-color: #ff0000;
  }
  
  /* Horizontal line */
  .horizontalLine {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Light mode styles */
.examContainer.light {
  background-color: #fff; /* Light mode background color */
  color: #333; /* Light mode text color */
}

/* Dark mode styles */
.examContainer.dark {
  background-color: #333; /* Dark mode background color */
  color: #eee; /* Dark mode text color */
}
