/* General styles for the App */
html, body {
    height: 100%; /* Full height for body */
    margin: 0; /* Remove default margin */
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height of the viewport */
}

.AdminCourses_courses-container {
    padding: 30px;
    background-color: #f5f5f5;
    transition: background-color 0.3s;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;

}

.AdminCourses_view-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.AdminCourses_input-field {
    width: 70%;
    font-size: 16px;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.AdminCourses_input-field:focus {
    border: 1px solid #007bff !important;
    outline: none;
    box-shadow: 0 0 5px #007bff;
}

.AdminCourses_courses-container select {
    width: 100%;
    font-size: 16px;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.AdminCourses_courses-container.dark-mode,
.AdminCourses_courses-container.dark-mode select,
.AdminCourses_courses-container.dark-mode input[type='text'] {
    background-color: #111; /* Dark background */
    color: #fff; /* Light text for dark mode */
    font-size: medium;
    font-weight: bold;
}

.AdminCourses_view-button {
    background-color: #007bff;
    color: white;
    width: 250px;
    padding: 12px 20px;
    margin: 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.AdminCourses_view-button:hover {
    background-color: rgba(0, 123, 255, 0.5);
    color: white;
}

.AdminCourses_view-button:focus {
    background-color: rgba(0, 123, 255, 0.5);
}

#AdminCourses_delete-button {
    background-color: #D32F2F;
    border: 2px solid #D32F2F;
}

#AdminCourses_delete-button:hover {
    background-color: darkred;
    border: 2px solid darkred;
}

#AdminCourses_edit-button {
    background-color: darkorange;
    border: 2px solid darkorange;
}

#AdminCourses_edit-button:hover {
    background-color: #CC5500;
    border: 2px solid #CC5500;
}

#AdminCourses_add-button {
    background-color: #388E3C;
    border: 2px solid #388E3C;
}

#AdminCourses_add-button:hover {
    background-color: green;
    border: 2px solid green;
}

/* Footer styles */
.footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 15px;
}

/* Responsive Design */
@media (max-width: 600px) {
    .CoursesView_course-table {
        width: 100%;
        font-size: 0.4em; /* Reduce font size for mobile */
    }

    .AdminCourses_view-buttons {
        display: flex;
        gap: 5px; /* Increased space between buttons */

    }

    .CoursesView_course-table th, .CoursesView_course-table td {
        display: block;
        width: 100%;
        text-align: right;
        padding: 8px 5px;
    }

    .CoursesView_course-table th::before, .CoursesView_course-table td::before {
        content: attr(data-label); /* Use data-label for accessibility */
        font-weight: bold;
        float: left; /* Move label to the left */
    }

    .CoursesView_course-table th, .CoursesView_course-table td {
        text-align: left;
    }

    .CoursesView_course-table input[type="text"],
    .CoursesView_course-table input[type="file"],
    .CoursesView_course-table button {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px; /* Add space between form inputs */
    }

    .CoursesView_course-table img {
        max-width: 100%;
        height: auto;
    }
}


.CoursesView_course-table,
.DepartmentsView_course-table,
.DepartmentsCoursesView_course-table,
.InstructorsView_course-table,
.StudentsView_course-table {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    width: 100%; /* Full width for the table */

}

.CoursesView_course-table th,
.DepartmentsView_course-table th,
.DepartmentsCoursesView_course-table th,
.InstructorsView_course-table th,
.StudentsView_course-table th{
    font-size: large;
    font-weight: bolder;
    padding: 15px; /* Increased padding for better spacing */
    text-align: center;
    border-bottom: 1px solid #ddd; /* Light grey border */
    width: 20%; /* Equal width for each column */
    flex: auto;
    justify-content: center;
    vertical-align: middle; /* Vertically center the content */
}

.CoursesView_course-table td,
.DepartmentsView_course-table td,
.DepartmentsCoursesView_course-table td,
.InstructorsView_course-table td,
.StudentsView_course-table td{
    flex: auto;
    justify-content: center;
    padding: 15px; /* Increased padding for better spacing */
    text-align: center; /* Center the text horizontally */
    border-bottom: 1px solid #ddd; /* Light grey border */
    vertical-align: middle; /* Vertically center the content */

}

.CoursesView_course-table td button,
.DepartmentsView_course-table td button,
.DepartmentsCoursesView_course-table td button,
.InstructorsView_course-table td button,
.StudentsView_course-table td button {
    width: 70px; /* Set button width to 300px */
    padding: 10px; /* Adjust padding for better button appearance */
    text-align: center; /* Ensure the button text is centered */
    margin-left: 10px;
    margin-bottom: 16px;
    display: inline-block; /* Keep form elements inline */
    background-color: #007bff;
    border: 2px solid #007bff; /* Blue button color */
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

.DeleteData_courses_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 100%;
}

#DeleteData_courses_confirmDeleteHeader {
    text-align: center;
}

#DeleteData_courses_confirmDeleteContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
#DeleteData_courses_confirmDeleteButton {
    width: 250px;
    margin: 20px 5px;
}

#DeleteData_courses_deleteButton, #DeleteData_courses_cancelButton {
    width: 150px;
    margin: 20px 5px;
}

#DeleteData_courses_deleteButton, #DeleteData_courses_confirmDeleteButton {
    background-color: #D32F2F;
}

#DeleteData_courses_deleteButton:hover, #DeleteData_courses_confirmDeleteButton:hover {
    background-color: darkred;
}