button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    border: 2px solid #007bff; /* Blue button color */
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.file-upload-container button:hover {
    background-color: transparent;
    color: #007bff;
}

button:disabled,
button:disabled:hover {
    opacity: 0.5;
    background-color: #007bff;
    border: 2px solid #007bff; /* Blue button color */
    color: white;
    cursor: auto;
}

.ConfirmDelete_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.ConfirmDelete_modal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Use the same background color as the modal */
    filter: blur(5px); /* Apply the blur here */
    z-index: -1; /* Ensure this is behind the content */
}


.ConfirmDelete_modal form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}

.ConfirmDelete_modal form h2 {
    font-size: 1.5rem;
}

.dark .ConfirmDelete_modal form {
    background: #000;
}

.dark {
    background-color: #161616;
}