/* Base styling for the TakeExam component */
.TakeExam_component {
  min-height: 100vh;
  text-align: center;
  padding: 10px;
}

/* Light mode styles */
.light .TakeExam_component {
  background-color: #f8f8f8;
  color: #333;
}

.light .TakeExam_quiz-container {
  background-color: #ffffff;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.light .TakeExam_exam-details,
.light .TakeExam_select-container {
  background-color: #f8f8f8;
  color: #333;
}

.light .TakeExam_button {
  background-color: #007bff;
  color: white;
}

.light .TakeExam_button:hover {
  background-color: #0056b3;
}

.light .TakeExam_answer-button.selected {
  background-color: limegreen;
  border-color: #6c6;
}

/* Dark mode styles */
.dark .TakeExam_component {
  background-color: #161616;
  color: #f1f1f1;
}

.dark .TakeExam_quiz-container {
  background-color: #1c1c1c;
  color: #f1f1f1;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark .TakeExam_exam-details,
.dark .TakeExam_select-container {
  background-color: #1c1c1c;
  color: #f1f1f1;
}

.dark .TakeExam_button {
  background-color: #007bff;
  color: white;
}

.dark .TakeExam_button:hover {
  background-color: #0056b3;
}

.dark .TakeExam_answer-button.selected {
  background-color: #444;
  border-color: #6c6;
  color: #f1f1f1;
}

/* Shared styling */
.TakeExam_exam-details h3,
.TakeExam_results-container h2 {
  font-size: 1.8rem;
  margin: 10px 0;
}

.TakeExam_button-container,
.TakeExam_navigation-buttons {
  text-align: center;
  margin-top: 20px;
}

.TakeExam_answer-button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.TakeExam_answer-button.selected {
  background-color: #007bff;
  color: white;
}

.TakeExam_question-item h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

.TakeExam_answers-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.TakeExam_answers-section-essayAnswer {
  width: 50%;
  font-size: 16px;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}

.TakeExam_results-container table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.TakeExam_results-container table th,
.TakeExam_results-container table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}


.TakeExam_navigation-buttons button {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.TakeExam_navigation-buttons button:hover {
  background-color: #0056b3;
}

.TakeExam_results-container table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.dark .TakeExam_results-container {
  color: #f1f1f1;
}

.dark .TakeExam_results-container table {
  background-color: #333;
  color: #f1f1f1;
}

/* Responsive styling */
@media (max-width: 767px) {
  .TakeExam_quiz-container {
    background-color: transparent;
    box-shadow: none;
  }
}
