/* TakeExam.css */
.TakeExam_quiz-page {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  min-height: 80vh;
}

.TakeExam_quiz-page.dark {
  background-color: #161616;
}

.TakeExam_quiz-page.dark .TakeExam_quiz-container {
  background-color: #1c1c1c;
}

.TakeExam_quiz-page h1 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.TakeExam_quiz-page h2 {
  font-size: 2rem;
  font-weight: 600;
}

.TakeExam_quiz-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.TakeExam_quiz-page ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: fit-content;
}

.TakeExam_quiz-page ul li {
  width: 45%;
  padding-inline: 10px;
}

.TakeExam_question {
  font-size: 18px;
  margin-bottom: 20px;
}

.TakeExam_option:hover {
  background: #007bff;
  color: white;
}

.TakeExam_option label {
  margin: 10px;
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 8px 16px;
  border: 2px solid #007bff;
  border-radius: 10px;
  font-weight: 700;
  transition: 0.3s;
}

.TakeExam_label.selected-option {
  background-color: #007bff;
  color: white;
}

.TakeExam_option input {
  display: none;
}

.TakeExam_button-container {
  text-align: center;
  margin-top: 20px;
}

.TakeExam_button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.TakeExam_button:hover {
  background-color: #0056b3;
}

.TakeExam_quiz-page p {
  font-size: 2rem;
}

.TakeExam_quiz-page img {
  max-width: 30%;
  margin-block: 15px;
}

/* responsive */
@media (max-width: 767px) {
  .TakeExam_quiz-container {
    background-color: transparent;
    box-shadow: none;
  }

  .TakeExam_quiz-page.dark .TakeExam_quiz-container {
    background-color: transparent;
  }
}

.TakeExam_quiz-result {
  padding: 20px;
}

.TakeExam_select-container {
  margin-bottom: 20px;
}

.TakeExam_question-item {
  margin-bottom: 20px;
}

.TakeExam_answer-button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

.TakeExam_answer-button.selected {
  background-color: #d3f9d8;
  border-color: #6c6;
}

.TakeExam_answer-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.TakeExam_navigation-buttons {
  margin-top: 20px;
}

.TakeExam_navigation-buttons button {
  margin-right: 10px;
}

.TakeExam_question-item h3 {
  border-bottom: 1px solid #eee;
}
