/* Ensure html and body take full height of the viewport */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Container for the quiz results, take full height */
.examResultDetails_quizResult {
  padding: 10px;
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  /* Align content to the top */
  flex-grow: 1; /* Allow the container to grow and fill available space */
  width: 100%;
}

/* Select input styles */
.examResultDetails_select {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

/* Results table styles */
.examResultDetails_resultsTable {
  margin-top: 20px;
}

.examResultDetails_table {
  width: 100%;
  border-collapse: collapse;
}

.examResultDetails_table,
.examResultDetails_th,
.examResultDetails_td {
  border: 1px solid #ddd;
}

.examResultDetails_th,
.examResultDetails_td {
  padding: 10px;
}

/* Dark mode styles */
.examResultDetails_quizResult.dark {
  background-color: #161616;
  color: #fff;
}

.examResultDetails_quizResult.dark .examResultDetails_select {
  background-color: #444;
  color: #fff;
}

.examResultDetails_quizResult.dark .examResultDetails_h2 {
  background-color: #161616;
  color: #fff;
}

/* Light mode styles */
.examResultDetails_quizResult.light {
  background-color: #f7f7f7;
  color: #333;
}

.examResultDetails_quizResult.light .examResultDetails_select {
  background-color: #fff;
  color: #000;
}

.examResultDetails_quizResult.light .examResultDetails_h2 {
  background-color: #f7f7f7;
  color: #333;
}

/* Footer: keep it at the bottom */
footer {
  margin-top: auto;  /* Push footer to the bottom */
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
