/* NavBar.module.css */
/* Light mode styles */
.navbar {
  background-color: #f7f7f7;
  overflow: hidden;
  padding-bottom: 10px;
  position: relative; /* Ensure it respects stacking context */
}

.navbar ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.navbar ul li {
  transition: .3s;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  position: relative; /* For positioning child elements */
}

.navbar ul li:hover, li.active {
  background-color: #007bff;
}

.navbar ul li:hover a, li.active a {
  color: white;
}

/* Dark mode styles */
.darkModeNavbar {
  background-color: #161616;
}

.darkModeNavbar ul li a {
  color: #f0f0f0;
}

.dropdownContainer {
  float: left;
  overflow: hidden;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdownContent, .dropdownContentCourse {

  background-color: #f0f0f0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  z-index: 1; /* High enough to stay on top */
  flex-direction: column;
  gap: 10px;
  min-width: 160px;
  left: 50%;
}


@media (max-width: 767px) {
  .navbar {
    display: none;
  }
}
